.container{
    display: inline-block;
    height: 300px;
    width: 200px;
    border-style: solid;
    border-color: grey;
    border-radius: 5%;
    text-align: center;
    box-shadow: 0 0 10px rgb(30, 30, 30);
    transition: height width 0.5s ease;
}

.container:hover{
    height: 325px;
    width: 225px;
}

.top{
    margin-top: 10%;
    font-size: 100%;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.line1{
    border-style: solid;
    border-color: rgb(255, 0, 68);
    width: auto;
}

.line2{
    border-style: solid;
    border-color: rgb(176, 165, 0);
    width: auto;
}

.line3{
    border-style: solid;
    border-color: rgb(1, 65, 161);
    width: auto;
}

.line4{
    border-style: solid;
    border-color: rgb(11, 137, 0);
    width: auto;
}

.price{
    margin-top: 5%;
    font-size: 200%;
}

.middle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75%;
    font-weight: 600;
    color: grey;
}

.foot{
    margin-top: 10%;
    font-size: 75%;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.button{
    position: relative;
    font-size: 75%;
    font-weight: 600;
    bottom: -30%;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 10%;
    color: aliceblue;
}

.button1{
    background-color: rgb(255, 0, 68);
}

.button2{
    background-color: rgb(176, 165, 0);
}

.button3{
    background-color: rgb(1, 65, 161);
}

.button4{
    background-color: rgb(11, 137, 0);
}